#banner {
    margin-top: 0;
    position: relative;
    
}


.contenedor-banner {
    position: relative;
            
}

.contenedor-banner h2{
    position: absolute;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
        
    
    width: 360px;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    margin-top: -25%;
    font-size: 20px;
    
    
    
    
}

.contenedor-banner b{
    color: #ffc000;
    
}
.contenedor-banner p{
    position: absolute;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    position: absolute;
    color: white;
    width: 90%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8px;
    
}

.contenedor-banner p1{
    position: absolute;
    width: 92%;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    margin-top: -8%;
    font-size: 9px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    }

.contenedor-banner c{
   
    letter-spacing: 7px;
    font-size: 6px;
        
    }



@media (min-width:600px){

   .contenedor-banner h2{
    position: absolute;
    margin-top: -25%;   
    font-size: 32px;
}
    
 .contenedor-banner p{
    position: absolute;
     width: 80%;
    margin-top: -21%;
    font-size: 12px;
}    
    
.contenedor-banner p1{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    margin-top: -10%;
    font-size: 14px;
    
    
    
    }

.contenedor-banner c{
   
    letter-spacing: 12px;
    font-size: 10px;
        
    }

    
}

@media (min-width:1024px){
    
      .contenedor-banner h2{
    position: absolute;
    margin-top: -25%;   
    font-size: 50px;
    letter-spacing: 8px;
}
    
 .contenedor-banner p{
    position: absolute;
    margin-top: -22%;
    font-size: 21px;
    letter-spacing: 3px;
}    
    
.contenedor-banner p1{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    margin-top: -10%;
    font-size: 28px;
    
    
    
    }

.contenedor-banner c{
   
    letter-spacing: 20px;
    font-size: 18px;
        
    }

    
}
    