@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(Menu.css);
@import url(Banner.css);
@import url(Nosotros.css);  
@import url(gsl.css);
@import url(generaxion.css);
@import url(Formato.css);


* {
    margin: 0;
    margin-top: -2px;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    
}

shourtcut-icon 
    border-radius: 5px;
    
}




body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../IMG/Fondo.jpg);
    
}


header {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-size: 200%;
    background:rgba(25,25,25,.6);
}

.contenedor {
    width: 98%;
    margin: auto;
    
    
}


header .contenedor {
    display: table;
}

section {
    width: 100%;
   

}


img {
   
    width: 100%;
    height: 100%;
    
}

.contenedor sociales {
    top: 5px;
    
}


.sociales {
    margin-top: 15px;
    width: auto;
    text-align: center;
    font-size: 20px;
    align-items: center;
    color: white;    
}

.sociales a{
    display: inline-block;
    margin: 1px 18px;
    width: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
        
}


.sociales a:hover {
    color: #FAD437;
    
    
}



@media (min-width:600px) {
    
    
    header{
        position: fixed;
        background: rgba(25,25,25,.9);
        height: 35px;
    }
    
    .sociales {
        
        padding: 5px;
        margin-top: 2px;
        
    }
        
    .sociales a{
    height: 30px;
    float: right;
    width: auto;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
           
    }
    
}



