@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(Menu.css);
@import url(Banner.css);
@import url(Nosotros.css);  
@import url(gsl.css);
@import url(generaxion.css);
@import url(formato.css);
@import url(Horarios.css);

* {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../IMG/Fondo.jpg);
    background-size: 100%;
}


header {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: url(../IMG/Fondo.jpg);
    background-size: 200%;
}

.contenedor {
    width: 100%;
    margin: auto;
    
    
}


header .contenedor {
    display: table;
}

section {
    width: 100%;
   

}


img {
   
    width: 100%;
    height: 100%;
    
}

.contenedor sociales {
    top: 5px;
    
}


.sociales {
    margin-top: -40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    align-items: center;
    color: white;    
}

.sociales a{
    display: inline-block;
    margin: 0 30px;
    width: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
        
}


.sociales a:hover {
    color: #FAD437;
    
    
}



@media (min-width:700px){
    
    .sociales {
        margin-top: -35px;
        width: 100%;
        text-align: left;
        font-size: 18px;
        
        
    }
    
    
    .sociales a{
    display: inline-block;
    background-image: url(../IMG/Fondo.jpg);
    margin: 3px 10px;
    width: 25px;
    height: 25px;
    color: white;
    text-decoration: none;
    
    }
    
    
    
    .contenedor {
        width: 1080px;
    }
    
    
    
}