#informacion {
    margin-top: 0PX;
    position: relative;
}


.datos-dentro img {
    position: absolute;
    top: 0%;
    
    
}



.datos-dentro p{
    position: absolute;
    color: black;
    width: 320px;
    font-size: 6px;
    text-align: center;
    top: 38%;
    left: 10%;
    
}


.datos-dentro h4{
    position: absolute;
    color: black;
    width: 220px;
    font-size: 15px;
    text-align: center;
    top: 25%;
    left: 20%;
    
    
}

.datos-dentro f {
    color: rgba(32, 157, 157, 0.65);
    
    
}

.datos-dentro h5{
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    width: 300px;
    font-size: 4px;
    letter-spacing: 8px;
    text-align: center;
    top: 84.9%;
    left: 10%;
}

.datos-dentro p5{
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    width: 220px;
    font-size: 5px;
    letter-spacing: 4px;
    text-align: center;
    top: 88%;
    left: 20%;
}


#direccion .icon-gps {
    position: absolute;
    text-decoration: none;
   
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    bottom: 60px;
    transform: translateX(780%);
    color: rgba(32, 157, 157, 0.65);
    
}


#direccion  h5 {
    position: absolute;
    color: black;
    transform: translateX(25%) translateY(-780%);
    letter-spacing: 8px;
    font-size: 4px;
    
}

#direccion  p5 {
    position: absolute;
    color: black;
    transform: translateX(600%) translateY(-815%);
    letter-spacing: 4px;
    font-size: 3px;

}


#direccion  a1 {
    position: absolute;
    width: 85px;
    text-align: center;
    text-decoration:underline;
    color: rgba(32, 157, 157, 0.65);
    transform: translateX(300%) translateY(-100%);
    top: 60%;
    font-size: 10px;

}

#mapa{
    position: absolute;
    top: 45%;
    left: 5%;
    border: 1.5px solid rgba(32, 157, 157, 0.65);
    
}

#mapa h3{
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(32, 157, 157, 0.65);    
}