#generaxion{
    margin-top: 0;
    position: relative;
    justify-content: center;
    
}


#generaxion p{
    position: absolute;
    color: black;
    text-align: right;
    font-size: 7px;
    width: 110px;
    top: 82%;
    left: 83%;
    transform: translateX(-50%)translateY(-50%);
    
    
}

#generaxion .viernes{
    position: absolute;
    margin-top: -70%;
    
}

#generaxion .deparceros{
    position: absolute;
    margin-top: -70%;
    
    
}

#generaxion .DE7PM {
    position: absolute;
    margin-top: -70%;
    
}

#generaxion .PARCEROS {
    position: absolute;
    margin-top: -73%;
    
}


@media (min-width:600px){
    #generaxion p{
        font-size: 12px;
        width: 180px;
        
    }
        
    
}