#generaxion{
    margin-top: 0;
    position: relative;
    
}


#generaxion .contenedor-generaxion {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    text-align: right;
    transform: translateX(-50%) translateY(5%);

}

#generaxion .contenedor-generaxion p {
    width: 120px;
    height: 50px;
    font-size: 7PX;
    float: right;
    
}

#generaxion .contenedor-siete {
    float: right;
    transform: translateX(-5%) translateY(-83%);
    
}

#generaxion .contenedor-viernes {
     float: left;
     height: auto;
     transform: translateX(-12%) translateY(-183%);
    
}

#generaxion .contenedor-parceros {
    height: 280PX;
    width: 316PX;
    transform: translateX(-12%) translateY(-254.9%);
    
    
}

#generaxion .contenedor-bloqueparceros {
    
    align-items: center;
    transform: translateX(0%) translateY(-137%);
    
    
}






