#generaxion{
    margin-top: 0PX;
    position: relative;
}


#generaxion img{
    width: 100%;
    height: 100%;
    
}

#generaxion .contenedor-generaxion {
    position: absolute;
    top: 70%;
    left: 67%;
    width: 105px;
    height: 130px;
    
}


#generaxion p {
    font-family: 'Abel', sans-serif;
    float: right;
    text-align: right;
    font-size: 7px;
    transform: translateY(-20%) translateX(-5%);    
        
}

#generaxion .viernes {
    position: absolute;
    top: -150%;
    left: -265%;
    transform: translatex(4%);    
    
}

#generaxion .deparceros {
    position: absolute;
    width: 320PX;
    top: -122%;
    left: -78%;
    transform: translateX(-55%);
    
}

#generaxion .DE7PM {
    position: absolute;
    
    top: -60%;
    left: -270%;
    transform: translateX(2%) translateY(-42%); 

    

}

#generaxion .PARCEROS {
    position: absolute;
    top: -144%;
    left: -242%;
    

    

}



@media (min-width:700px) {
    #generaxion p {
    position: absolute;
    height: auto;
    width: 130px;
    top: 20px;
    float: right;
    text-align: right;
    font-size: 10px;
    transform: translateY(-35%) translateX(38%);    
        
}
    
#generaxion .viernes {
    position: absolute;
    height: auto;
    width: 800px;
    top: 200px;
    transform: translatex(-30%) translateY(-101%);    
    
}

#generaxion .deparceros {
    position: absolute;
    width: 600PX;
    top: -122%;
    left: -70%;
   transform: translatex(-71.5%) translateY(-30%);
    
}

#generaxion .DE7PM {
    position: absolute;
    height: auto;
    width: 800px;
    top: 250px;
    transform: translatex(-28%) translateY(-110%);    
    

    

}

#generaxion .PARCEROS {
    position: absolute;
    height: auto;
    width: 680px;
    top: 200px;
    transform: translatex(-28%) translateY(-107%); 
    

    

}    
    
    
    
}