#gsl {
    margin-top: 0;
    position: relative;
    
}

.contenedor-gsl {
    position: relative;
    
}

.contenedor-gsl p{
    position: absolute;
    width: 360px;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    margin-top: -18%;
    font-size: 6px;
        
}

.contenedor-gsl h3{
    position: absolute;
    color: white;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-390%);
    font-size: 8px;
    
}


.contenedor-gsl p3{
    position: absolute;
    width: 90%;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-195%);
    font-size: 5px;
    letter-spacing: 7px;
    
}


@media (min-width:600px){
    .contenedor-gsl p{
        
        font-size: 12px;
        width: 500px;
        margin-top: -16%;
    }
    
    .contenedor-gsl h3{
        font-size: 12px;
        
    }
    
    .contenedor-gsl p3{
        font-size: 8px;
        width: 500px;
        
    }
    
    
}



@media (min-width:1024px){
    .contenedor-gsl p{
        
        font-size: 17px;
        width: 900px;
        margin-top: -16%;
    }
    
    .contenedor-gsl h3{
        font-size: 18px;
        
    }
    
    .contenedor-gsl p3{
        font-size: 10px;
        letter-spacing: 14px;
        width: 900px;
        
    }
    
    
}