#horarios {
    margin-top: 0PX;
    position: relative;
}



#horarios .contenedor {
    position: absolute;
    box-sizing: 30px;
    max-height: 150PX;
}


#horarios .iglesia {
    position: absolute;
    max-height: 150px;
    top: -10%;
    
}


#horarios .img-dia {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    top: -15%;
    
    
}


#horarios .img-hora {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    top: -10%;
    
}


#horarios .icon-gps {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: #e3ca09;
    text-decoration: none;
    height: auto;
    font-size: 10PX;
    align-items: center;
    bottom: -60%;
    left: 34%;
    
}

#horarios .icon-gps p{
    color: #e3ca09;
    text-decoration: none;
    height: auto;
    letter-spacing: 1.5px;
    font-size: 6px;
    
        
}



#horarios .direccion  {
    flex: block;
    color: #e3ca09;
    font-size: 6px;
    align-content: center;
    text-align: center;
    bottom: 5%;
        
}

#horarios h5,p5 {
    color: white;
    text-decoration: none;
    height: auto;
    letter-spacing: 6px;
    font-size: 4px;
}