#menu-lista {
    display: none;
    
}


header label{
    float: right;
    font-size: 26px;
    margin: 16px 0;
    cursor: pointer;
    color: white;
    
}

.menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.95);
    transition: all 0.7s;
    transform: translatey(-120%);
    
    
}

.menu a {
    display: block;
    height: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    
    
}

.menu a:hover {
    color:#FAD437;
    font-weight: bold;
    transform: translateY(-2px) scale(1.01);

}


#menu-lista:checked ~ .menu {
    transform: translateY(0%);
    
}



@media (min-width:600px) {
    header label{        
        display: none;
    }
    
    .menu {
        position: absolute;
        transform: translateY(0%);
        display: flex;
        top: 1%;
        height: auto;
        width: auto;
        background: none;
        left: 4%;
    }
    
    .menu a{
        font-size: 14px;
        
    }
    
    
}