#menu-lista {
    display: none;
    
}


header label{
    float: right;
    font-size: 26px;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    
}

.menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.95);
    transition: all 0.7s;
    transform: translatey(-120%);
    
}

.menu a {
    display: block;
    height: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    
    
}

.menu a:hover {
    color:#FAD437;
    font-weight: bold;
    transform: translateY(-2px) scale(1.01);

}


#menu-lista:checked ~ .menu {
    transform: translateY(0%);
    
}


@media (min-width:700px){
        
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translatex(-70%);
        float:right;
        display: flex;
        background-color:black;
        background-image: url(../IMG/'Fondo.jpg);
        border-left: 1px solid grey;
        border-right: 1px solid grey;
                
    }
    
    header label{
    display: none;
    
}
    
    .menu a{
        
        font-size: 16px;
        padding: 18px 25px;
        color: white;
        display:inline;
        
    }
    
    
    
}


@media (min-width:1024px){
        
    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        margin-top: 0%;
        margin-right: -45%;
        
        'background-color:black;
        background-image: url(../IMG/'Fondo.jpg);
        border-left: 0px solid black;
        border-right: 0px solid black;
                
    }
    
    header label{
    display: none;
    
}
    
    .menu a{
        
        font-size: 16px;
        padding: 25px 45px;
        color: white;
        display:inline;
        
    }
    
    
    
}