#Nosotros {
    position: relative;
   
}

#iglesia {
    position: absolute;
    margin-top: 0px;
    top: 0px;
    
    
}

#horarios .img-hora{
    position: absolute;
    margin-top:0px; 
    top: 2px;
    
}


#horarios .img-dia {
    position: absolute;
    margin-top: 0px;
    top: 0px;
    
}


#Nosotros .contenedor-nosotros h3{
    position: absolute;
    text-align: left;
    width: auto;
    max-width: 260px;
    font-size: 7px;
    color: white;
    margin-top: -60px;
    left: 28%;
    
    
}

@media (min-width:600px){
    #Nosotros .contenedor-nosotros h3{
        position: absolute;
        font-size: 12px;
        max-width: 410px;
        margin-top: -16.5%;
        
    }
    
}

@media (min-width:1024px){
    #Nosotros .contenedor-nosotros h3{
        position: absolute;
        font-size: 14px;
        
        max-width: 700px;
        margin-top: -14%;
        
    }
    #iglesia {

    margin-top: 0px;
    top: 0px;
    
    
    
}
    
    
    
}