#Nosotros {
    margin-top: 0;
    position: relative;
    
}


#Nosotros img {
    width: 100%;
    height: 100%;
    
}

#Nosotros .contenedor-nosotros {
    height: auto;
    width: 220px;;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:left;
    transform: translateX(-40%) translateY(142%);
    padding: 5px;

}

#Nosotros h3{
    font-size: 6PX;
    color: white;
    
     
}


@media (min-width:720px) {
    #Nosotros .contenedor-nosotros {
    height: auto;
    width: 500px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:left;
    transform: translateX(-34%) translateY(820%);

}

#Nosotros .contenedor-nosotros h3{
    font-size: 5PX;
    color: white;
    
}
    
    
    
@media (min-width:1024px) {
    #Nosotros .contenedor-nosotros {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:left;
    transform: translateX(-38%) translateY(800%);

}


#Nosotros .contenedor-nosotros h3{
    font-size: 14PX;
    color: white;
   
    
}    
    