#gsl {
    margin-top: 0;
    position: relative;
    
}


#gsl img {
    width: 100%;
    height: 100%
    
}

#gsl .contenedor-gsl {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translateX(-50%) translateY(-80%);

}




#gsl .contenedor-gsl h3 {
    font-size: 5PX;
    transform: translateX(-0%) translateY(700%);
    text-align: center;
    
}



#gsl .contenedor-gsl p {
    width: 350px;
    font-size: 5PX;
    text-align: center;
    transform: translateX(0%) translateY(775%);
}


#gsl .contenedor-gsl p3 {
    width: 400px;
    border: 5px;
    font-size: 4px;
    letter-spacing: 8.1px;
    text-align: center;
    transform: translateX(-100%) translateY(20%);
}








@media (min-width:700px) {

#gsl .contenedor-gsl h3{
    font-size: 14PX;
    transform: translateX(-0%) translateY(480%);
    text-align: center;
    
}



#gsl .contenedor-gsl p {
    width: 650px;
    font-size: 12PX;
    text-align: center;
    transform: translateX(0%) translateY(680%);
}


#gsl .contenedor-gsl p3 {
    width: 600px;
    font-size: 6.5px;
    letter-spacing: 16.1px;
    text-align: center;
    transform: translateX(-100%) translateY(5%);
}



