#menu-lista {
    display: none;
    
}


header label{
    float: right;
    font-size: 26px;
    margin: 16px 0;
    cursor: pointer;
    color: white;
    display: none;
}

.menu {
    position: absolute;
    top: 0;
    background: rgba(51,51,51,0.95);
    transition: all 0.7s;
    transform: translatey(-120%);
    
    
}

.menu a {
    display: block;
    height: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color:  rgba(245, 190, 39, 0.86);
    
    
}

.menu a:hover {
    color:#fdfdfb;
    font-weight: bold;
    

}


#menu-lista:checked ~ .menu {
    transform: translateY(0%);
    
}



@media (min-width:600px) {
    header label{        
        display: none;
    }
    
    .menu {
        position: absolute;
        justify-content: center;
        transform: translateY(0%);
        display: flex;
        top: 1%;
        height: 35px;
        width: 80%;
        background: none;
        left: 4%;
        
        
    }
    
    .menu a{
        font-size: 16px;
        
    }
    
    
}


@media (min-width:1024px) {
    header label{        
        display: none;
    }
    
    .menu {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;    
        transform: translateX(50%);
        background: none;
        left: -2%;
        border-left: 1px solid white;
        border-right: 1px solid white;
        height: 50px;
        
    }
    
    .menu a{
        display: inline-block;
        justify-content: center;
        width: 90%;
        font-size: 20px;
       
    }
    
    
}